@import '../../styles/colors.scss';
@import "../../styles/screenSize.scss";

.projects {
  &__all-project {
    display: flex;
    flex-wrap: wrap;

    &-button {
      width: 80%;
      height: 5vh;
      margin: 10vh 3vw;
      color: black;
      border: none;
      font-size: 2rem;
      background-color: white;
      transition: background-color, .3s;

      &:hover {
        background-color: $hover;
      }

      &:active {
        background-color: $active;
      }
    }
  }
}

.projects-modal {
  &-input {
    margin: 2rem 1rem;
    padding: 1rem;
    width: 40rem;
    height: 5rem;
    border: 1px solid rgba(153, 152, 152, 0.648);
  }

  &-button {
    margin: 2rem 1rem;
    width: 40rem;
    height: 5rem;
  }
}

@media (max-width: $bigMobWidth) {
  .projects {
    max-width: $bigMobWidth;

    &__all-project {
      display: flex;
      flex-wrap: wrap;

      &-button {
        font-size: 1.5rem;
        width: 70%;
        margin: 5vh 4vw;
        height: 2.5rem;
      }
    }
  }
}


@media (max-width: $bigMobWidth) {
  .projects-modal {
    margin: auto;

    &-input {
      margin: 2rem 15vw;
      padding: 1rem;
      width: 50vw;
      height: 5rem;
    }

    &-button {
      margin: 2rem 15vw;
      width: 50vw;
      height: 5rem;
    }
  }
}