.modal-wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.744);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal {
  position: absolute;
  background-color: white;
  border-radius: 20px;
  top: 16vh;
  left: 32vh;
  right: 32vh;
  bottom: 16vh;
}