@import '../../../styles/colors.scss';
@import "../../../styles/screenSize.scss";

.project-item {
  border: 3px solid black;
  width: 30%;
  height: 25vh;
  margin: 1rem;

  &-title {
    font-size: 150%;
    text-align: center;
    padding: 6vh 0;

    &:hover {
      color: $hover;
    }

    &:active {
      color: $active ;
    }
  }

  &-rembut {
    margin: 0 30%;
    width: 40%;
    height: 3rem;
    font-size: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 6px;
    background-color: rgba(47, 73, 240, 0.201);

    &:hover {
      background-color: $hover;
    }

    &:active {
      background-color: $active ;
    }
  }
}

.project-item-link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: $bigMobWidth) {
  .project-item {
    width: 30%;
    height: 12vh;

    &-rembut {
      height: 4rem;
      width: 18vw;
      font-size: 1.5rem;
      border: 1px solid rgba(0, 0, 0, 0.13);
      border-radius: 6px;
      background-color: rgba(47, 73, 240, 0.201);
    }

    &-title {
      text-align: center;
      font-size: 1.8rem;
      padding: 1.4vh 0;
    }
  }
}