@import '../../../styles/colors.scss';

.project-item {
  border: 3px solid black;
  width: 30%;
  height: 25vh;
  margin: 1rem;

  &-title {
    font-size: 150%;
    text-align: center;
    padding: 6vh 0;

    &:hover {
      color: $hover;
    }

    &:active {
      color: $active ;
    }
  }
}

.project-item-link {
  text-decoration: none;
  color: inherit;
}