.bl {
  display: flex;
  grid-row: 2/2;
  justify-content: space-between;

  &__board {
    width: 22vw;
    height: 75vh;
    border: 2px solid black;
    margin: 0 5rem;

    &-title {
      text-align: center;
      font-weight: bold;
    }

    &__task {
      border: 1px solid teal;
      margin: 1rem 0;
    }
  }
}